@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
}

.btn-primary{
    background-color: #243A5A;
    border-color: #243A5A;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Deja-compte{
    text-decoration: none;
    text-transform: none;
    color: #243A5A;
    font-size: 16px;
    font-weight: bold;
}

#date{
    padding-top: 9px;
}

.btn-success{
    background-color: #243A5A;
    border-color: #243A5A;
}

.btn-success:hover{
    background-color: #243A5A;
    border-color: #243A5A;
}